<div class="slide">
	[+phx:if=`[+col1+]`:notempty=`<a href="[+col1+]" target="_blank" class="image" title="[+col2+]">`+]
		<img src="[+col0+]" alt="[+col2+]" />
	[+phx:if=`[+col1+]`:notempty=`</a>`+]
</div>